:root {
  font-family: 'Chakra Petch', sans-serif;
}

body {
  margin: 0;
  user-select: none;
}

.containerTreasure {
  font-size: 2rem;
  z-index: 200;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height:100%;
  font-size: 1.2rem;
}

.heading {
  font-size: 1.7rem;
  color: #00BDFF;
  z-index: 300;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  top:10;
  left:50%;
  transform: translate(-50%);
}

.myTreasure {
  display: none;
}

.wrapperItem {
  width: 40%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: white;
}

.loading_screen {
  position: fixed;
  top:30%;
  left:50%;
  transform: translate(-50%);
  z-index:600
}

.itemAll {
  width: 100%;
  z-index: 100;
  margin-bottom: 1rem;
}

.new_item_all {
  width: 100%;
  height: 10rem;
  z-index: 100;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: transparent;
  position: relative;
  margin-top: 40%;
}

.empty_content {
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%);
}

.item_disconnect {
  width: 100%;
  z-index: 100;
  margin-bottom: 1rem;
  color:white;
}

.wrapper_list_empty {
  height:6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  width: 100%;
  height:9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
}

.card_item {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  width: 100%;
}

.disable_card_item {
  opacity: 0.7;
    cursor: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
}

.disable_item {
  width: 100%;
  height: 9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
  position: relative;
  opacity: 0.7;
}

.elementInItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 80%;
  height: 100%;
  /* margin-bottom: 1rem; */
}

.wrapper_content_star {
  display: flex;
  flex-direction: row;
  color: yellow;
  margin-top: 0.7rem;
}

.itemInMobile {
  box-shadow: 3px -4px 13px -4px rgba(137, 163, 255, 0.88);
  animation: myrotate 0.4s linear;
}

.logo {
  width: 5rem;
}

.logoImage {
  width: 100%;
}

.backgroundScreenSmall {
  display: none;
}

.wrapperHeaderImage {
  position: fixed;
  width: 100%;
  height: 120px;
  top:0;
  left:0;
  right: 0;
  z-index: 400;
}

.headerImage{
  width: 100%;
  height: 100%;
}

.wrapperImage {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem 1rem;
  margin-left: 1.5rem;
  border-radius: 4rem;
  overflow: hidden;
}
.wrapperPilotEarthImage {
  position: fixed;
  width: 120px;
  right: 15%;
  bottom: 10%;
  z-Index: 100;
}

.wrapperPilotImage {
  position: fixed;
  width: 80px;
  left: 19%;
  top: 1rem;
  z-Index: 400;
}

.image {
  width: 100%;
}

.pilotImage {
  width: 100%;
}

.wrapperBtnExchange {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  width: 120px;
  z-index: 100;
}


.wrapper_btn_switch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:3rem;
  width: 10rem;
  margin-right: 1rem;
}

.exchangeImage {
  position: absolute;
  width: 100%;
  height:100%;
}

.item:hover .wrapperBtnExchange {
  transform: scale(1.05);
}
  
.newStyle {
    opacity: 0.7;
}

.switch_network {
  position: relative;
  z-index: 100;
  width: 50%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image_switch_network {
  width: 100%;
}

.button_switch_network {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img_switch {
  width: 100%;
}

.content_switch_network {
  color:white;
  position: absolute;
}

a:active, a:link, a:visited{
  color:white
}

@media screen and (max-width: 350px) {
  .containerTreasure {
    margin-top: 5rem;
  }

  .wrapperItem {
    width: 100%;
  }
  
  .card_item {
    left:0;
  }

  .item {
    /* padding-top: 1rem; */
    width: 100%;
    justify-content: space-between;
  }

  .wrapper_list_empty {
    height: 2.5rem;
    font-size: 0.6rem;
  }

  .wrapperBtnExchange {
    width:4rem;
    height:1.8rem;
    font-size: 0.6rem;
    position: absolute;
    right:0.5rem;
    top: 1rem
  }

  .heading {
    display: none;
  }

  .myTreasure {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  color: #00BDFF;
  z-index: 100;
  text-transform: uppercase;
  }

  .wrapper_content_star {
    margin-top: 0.3rem;
  }

  .wrapperImage {
    margin-left: 1rem;
  }

  .elementInItem {
    font-size: 0.6rem;
  }

  .wrapperPilotImage {
    width: 40px;
  }

  .wrapperPilotEarthImage {
    width: 50px;
  }

  .wrapperImage {
    width: 1.5rem;
    height: 1.5rem;
    /* margin-left: 3rem; */
  }

  .logo {
    width:3rem
  }

}


@media screen and (min-width: 350px) and (max-width: 550px) {
  .wrapper_list_empty {
    width: 100%;
    height:3rem;
  }

  .wrapperItem {
    width: 100%;
  }

  .switch_network {
    width: 80%;
    margin-top: 1rem;
  }

  .button_switch_network {
    width: 100px;
    font-size: 10px;
  }
  
  .item {
    width:100%;
    height:5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0;
    position: relative;
  }

  .new_item_all {
    margin-top: 5%;
  }

  .disable_item {
    height:5rem;
    padding:0
  }

  .wrapperImage {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
  }

  .wrapper_content_star {
    display: flex;
    flex-direction: row;
    color: yellow;
    margin-top: 0.5rem;
  }

  .content_switch_network {
    font-size: 0.8rem;
    font-size: 2000;
  }

  .button_switch_network {
    width: 105px;
    top:30%;
  }

  .containerTreasure {
    font-size: 1rem;
   margin-top: 5rem;
  }

  .logo>div {
    font-size: 1.5rem;
  }

  .logo .logoImage {
    width: 60px;
  }

 .heading {
  display: none;
 }  

 .myTreasure {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  color: #00BDFF;
  z-index: 100;
  text-transform: uppercase;
  }

  .wrapperBtnExchange {
    margin-right: 1rem;
    height:100%;
    width: 90px;
    font-size: 0.8rem;
    background-color: transparent;
    position: relative;
  } 

  .exchangeImage {
    height:40%;
  }

  .wrapper_btn_switch {
    height: 2.2rem;
    width: 9rem;
    font-size: 0.85rem;
  }

  .wrapperBtnExchange > div {
    font-size: 0.7rem;
  }

  .pilotImage {
    width: 60%;
  }

  .backgroundScreenLarge {
    display: none;
  }

  .backgroundScreenSmall {
    display: block;
  }

  .headerImage {
    height: 70px;
  }

  .wrapperPilotImage {
    width: 60px;
    position: fixed;
    left: 19%;
    top: 1rem;
    z-Index: 400;
  }

  .wrapperPilotEarthImage {
    position: fixed;
    width: 100px;
    right: 1rem;
    bottom: 10%;
    z-Index: 100;
  }
};

@media screen and (min-width: 550px) and (max-width:768px){
  .containerTreasure {
    margin-top: 6rem;
  }
  .wrapperItem {
    width: 85%;
  }
  .wrapperBtnExchange {
    margin-right: 1rem;
  }
  .wrapperPilotEarthImage {
    position: fixed;
    width: 110px;
    right: 1%;
    bottom: 10%;
    z-Index: 100;
  }
  
  .wrapperPilotImage {
    position: fixed;
    width: 80px;
    left: 18%;
    top: 1rem;
    z-Index: 400;
  }
  .heading {
    display: none;
  }
  .myTreasure {
    display: block;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #00BDFF;
    z-index: 100;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) and (max-width:992px){
  .containerTreasure{
    /* margin-top: 10rem; */
    font-size: 1.3rem;
  }
  .wrapperItem {
    width: 85%;
    margin-top: 1rem;
  }

  .item {
    height: 8rem;
  }

  .switch_network {
    width: 70%;
  }

  .button_switch_network {
    top:30%;
  }

  .disable_item {
    height: 8rem;
    padding: 0;
  }

  .wrapperBtnExchange {
    margin-right: 1rem;
    width: 8rem;
    height:2.5rem;
  }

  .wrapper_btn_switch {
    width: 12rem;
  }

  .wrapperPilotEarthImage {
    position: fixed;
    width: 100px;
    right: 1%;
    bottom: 10%;
    z-Index: 100;
  }

  .elementInItem {
    margin-left: 1rem;
  }
  
  /* .wrapperPilotImage {
    position: fixed;
    width: 70px;
    left: 18%;
    top: 0;
    z-Index: 400;
  } */
  .myTreasure {
    display: none;
  }
  .heading {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #00BDFF;
    z-index: 100;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1024px) and (max-width:1400px){
  .wrapperItem {
    width: 70%;
  }
  .wrapperPilotEarthImage {
    position: fixed;
    width: 100px;
    right: 9%;
    bottom: 10%;
    z-Index: 100;
  }
  
  .wrapperPilotImage {
    position: fixed;
    width: 70px;
    left: 14%;
    top: 1rem;
    z-Index: 400;
  }

}




